.contactContainer {
  padding: 40px;
  margin-top: 20px;
  height: fit-content;
  text-align: center;
}

.contactHeader {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.contactDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.conHeaders {
  color: orange;
}
.aboutcontact {
  font-size: 1rem;
  font-optical-sizing: auto;
  text-align: center;
  max-width: 500px;
  font-weight: 400;
}
.aboutcontact a {
  padding: 5px;
  text-decoration: underline;
  color: skyblue;
  font-size: 0.7rem;
}

.contactDetails h4 {
  margin: 10px 0;
  font-size: 1.2rem;
}
.line {
  left: -0.1em;
  width: 100%;
  margin: 20px 0px;
  height: 2px;
  background-color: rgb(62, 26, 82);
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 580px) {
  .contactHeader {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
  }
  .contactDetails h4 {
    font-size: 0.7rem;
  }
  .tronixtech {
    font-size: 0.7rem;
  }
  .mail {
    font-size: 0.7rem;
  }
  .email {
    font-size: 0.7rem;
  }
  .aboutcontact {
    font-size: 0.67rem;
  }
  .footer div {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .contactHeader {
    font-size: 1rem;
    padding-bottom: 0.7rem;
  }
  .contactDetails h4 {
    font-size: 0.8rem;
  }
  .tronixtech {
    font-size: 0.7rem;
  }
  .mail {
    font-size: 0.7rem;
  }
  .email {
    font-size: 0.7rem;
  }
  .aboutcontact {
    font-size: 0.6rem;
  }
  .footer div {
    font-size: 0.7rem;
  }
}
@media (max-width: 385px) {
  .contactHeader {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
  }
  .contactDetails h4 {
    font-size: 0.7rem;
  }
  .tronixtech {
    font-size: 0.6rem;
  }
  .mail {
    font-size: 0.6rem;
  }
  .email {
    font-size: 0.4rem;
  }
  .aboutcontact {
    font-size: 0.5rem;
  }
  .footer div {
    font-size: 0.5rem;
  }
}
